{% include 'head.html' %}
<body>
  {% include 'navbar.html' %}
  <div class="container py-20 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold">Add Recipe</h1>
    <br />
    {% include 'flash_messages.html' %}
    <form method="post">
      <div class="mb-6">
        <label for="menuTitle" class="block text-gray-700 font-bold"
          >Menu Title</label
        >
        <input
          type="text"
          class="text-input"
          id="menuTitle"
          name="menuTitle"
          placeholder="Menu Title"
          required
        />
      </div>
      <div class="mb-6">
        <label for="menuDescription" class="block text-gray-700 font-bold"
          >Description</label
        >
        <textarea
          class="text-input"
          id="menuDescription"
          name="menuDescription"
          placeholder="Description"
        ></textarea>
      </div>

      <div id="ingredientFields" class="mb-6">
        <label class="block text-gray-700 font-bold">Ingredients</label>
        <div class="ingredientContainer">
          <div class="ingredientRow flex items-center space-x-4 py-2">
            <div class="w-1/3">
              <input
                type="number"
                step="0.1"
                class="text-input w-full"
                name="ingredient_amount[0]"
                placeholder="Amount"
                required
              />
            </div>
            <div class="w-1/3">
              <input
                type="text"
                class="text-input w-full"
                name="ingredient_unit[0]"
                placeholder="Unit"
                required
              />
            </div>
            <div class="w-1/3">
              <input
                type="text"
                class="text-input w-full"
                name="ingredient_type[0]"
                placeholder="Type"
                required
              />
            </div>
            <div class="w-1/4 text-right">
              <button
                class="btn-delete hidden rounded-md bg-red-600 hover:bg-red-400 px-3 py-2 text-sm font-medium text-white"
                data-index="${index}"
              >
                x
              </button>
            </div>
          </div>
        </div>
      </div>

      <button
        type="button"
        id="addIngredient"
        class="rounded-md bg-gray-800 hover:bg-slate-400 px-3 py-2 text-sm font-medium text-white"
      >
        Add Another Ingredient
      </button>

      <div class="py-4">
        <label for="menuServes" class="block text-gray-700 font-bold"
          >How many people does the recipe serve?</label
        >
        <input
          type="number"
          class="text-input"
          id="menuServes"
          name="menuServes"
          placeholder="Number of people"
        />
      </div>
      <div class="mb-6">
        <label for="menuNote" class="block text-gray-700 font-bold">Note</label>
        <textarea
          class="text-input"
          id="menuNote"
          name="menuNote"
          placeholder="Any notes about the recipe?"
        ></textarea>
      </div>
      <div class="mb-6">
        <label for="menuPrepLink" class="block text-gray-700 font-bold"
          >Link to preparation</label
        >
        <input
          type="url"
          class="text-input"
          id="menuPrepLink"
          name="menuPrepLink"
          placeholder="Link to preparation of recipe?"
        />
      </div>
      <div class="mb-6">
        <label for="menuImageUrl" class="block text-gray-700 font-bold"
          >Link to Image</label
        >
        <input
          type="url"
          class="text-input"
          id="menuImageUrl"
          name="menuImageUrl"
          placeholder="Link Image"
        />
      </div>

      <div class="mb-6">
        <button
          type="submit"
          class="rounded-md bg-gray-800 hover:bg-slate-400 px-3 py-2 text-sm font-medium text-white"
        >
          Submit
        </button>
      </div>
    </form>
    <script
      type="module"
      src="{{ url_for('static', filename='js/recipe/addRecipe/domFunctions.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/recipe/addRecipe/eventHandlers.js') }}"
    ></script>
  </div>
</body>
{% include 'footer.html' %}
