{% include 'head.html' %}
<body>
  {% include 'navbar.html' %}
  <div class="container py-20 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold">Edit Recipe</h1>
    <form method="post" action="/recipe/update/{{ recipe_id }}">
      <div class="mb-6">
        <label for="menuTitle" class="block text-gray-700 font-bold"
          >Menu Title</label
        >
        <input
          type="text"
          class="text-input"
          id="menuTitle"
          name="menuTitle"
          value="{{recipe.title}}"
          required
        />
      </div>

      <div class="mb-6">
        <label for="menuDescription" class="block text-gray-700 font-bold"
          >Description</label
        >
        <textarea
          class="text-input"
          id="menuDescription"
          name="menuDescription"
        >
{{ recipe.description }}</textarea
        >
      </div>

      <div
        id="ingredientFields"
        class="mb-6"
        data-ingredient-count="{{ recipe['ingredients']|length }}"
      >
        <label class="block text-gray-700 font-bold">Ingredients</label>
        {% for ingredient in recipe['ingredients'] %}
        <div class="ingredientContainer">
          <div class="ingredientRow flex items-center space-x-4 py-2">
            <div class="w-1/3">
              <input
                type="number"
                step="0.1"
                class="text-input w-full"
                name="ingredient_amount[{{ loop.index0 }}]"
                value="{{ingredient.amount}}"
              />
            </div>
            <div class="w-1/3">
              <input
                type="text"
                class="text-input w-full"
                name="ingredient_unit[{{ loop.index0 }}]"
                value="{{ingredient.unit}}"
              />
            </div>
            <div class="w-1/3">
              <input
                type="text"
                class="text-input w-full"
                name="ingredient_type[{{ loop.index0 }}]"
                value="{{ingredient.ingredient_type}}"
              />
            </div>
            <div class="w-1/4 text-right">
              <button
                class="btn-delete hidden rounded-md bg-red-600 hover:bg-red-400 px-3 py-2 text-sm font-medium text-white"
                data-index="{{ loop.index0 }}"
              >
                x
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <button
        type="button"
        id="addIngredient"
        class="rounded-md bg-gray-800 hover:bg-slate-400 px-3 py-2 text-sm font-medium text-white"
      >
        Add Another Ingredient
      </button>

      <div class="py-4">
        <label for="menuServes" class="block text-gray-700 font-bold"
          >How many people does the recipe serve?</label
        >
        <input
          type="number"
          class="text-input"
          id="menuServes"
          name="menuServes"
          value="{{recipe.portion_serves}}"
        />
      </div>
      <div class="mb-6">
        <label for="menuNote" class="block text-gray-700 font-bold">Note</label>
        <textarea
          class="text-input"
          id="menuNote"
          name="menuNote"
          placeholder="Any notes about the recipe?"
        >
{{ recipe.note }}</textarea
        >
      </div>
      <div class="mb-6">
        <label for="menuPrepLink" class="block text-gray-700 font-bold"
          >Link to preparation</label
        >
        <input
          type="url"
          class="text-input"
          id="menuPrepLink"
          name="menuPrepLink"
          value="{{recipe['web_link']}}"
        />
      </div>
      <div class="mb-6">
        <label for="menuImageUrl" class="block text-gray-700 font-bold"
          >Link to Image</label
        >
        <input
          type="url"
          class="text-input"
          id="menuImageUrl"
          name="menuImageUrl"
          value="{{recipe['image_url']}}"
        />
      </div>

      <div class="mb-6">
        <button
          type="submit"
          class="rounded-md bg-gray-800 hover:bg-slate-400 px-3 py-2 text-sm font-medium text-white"
        >
          Submit
        </button>
      </div>
    </form>
    <script
      type="module"
      src="{{ url_for('static', filename='js/recipe/addRecipe/domFunctions.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/recipe/addRecipe/eventHandlers.js') }}"
    ></script>
  </div>
</body>
{% include 'footer.html' %}
