{% include 'head.html' %}
<body>
  {% include 'navbar.html' %}
  <div class="container py-20 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div
      class="bg-gradient-to-tl from-slate-600 to-slate-900 text-white py-20 text-center rounded-xl"
    >
      <h1 class="text-5xl font-bold mb-4">Grüezi {{user}}</h1>
      <h1 class="text-3xl font-bold"></h1>
      <p class="text-lg mb-8">
        Welcome to Discrafter, manage your recipes from start to finish!
      </p>
      <a
        href="{{ url_for('recipe.add') }}"
        class="bg-white text-slate-800 px-6 py-3 rounded-full font-semibold"
        >Get Started</a
      >
      <a
        href="{{ url_for('mealplan.overview') }}"
        class="bg-white text-slate-800 px-6 py-3 rounded-full font-semibold"
        >Create a Mealplan</a
      >
    </div>
  </div>
</body>
{% include 'footer.html' %}
