{% include 'head.html' %}
<div
  class="bg-gradient-to-br from-slate-400 to-slate-900 min-h-screen flex flex-col justify-center items-center"
>
  <div class="bg-cyan-700 rounded-lg shadow-lg p-8 min-w-12 max-w-sm">
    <h1 class="text-4xl font-bold text-center text-slate-200 mb-8">
      Welcome to Dishcrafter
    </h1>
    <div class="flex items-center justify-center">
      <a
        href="{{ url_for('auth.google_sso') }}"
        class="px-4 py-2 border m-1 min-w-52 flex gap-2 border-slate-700 rounded-lg text-slate-200 hover:border-slate-800 hover:text-slate-300 hover:shadow transition duration-75"
      >
        <img
          class="w-6 h-6"
          src="https://www.svgrepo.com/show/475656/google-color.svg"
          loading="lazy"
          alt="google logo"
        />
        <span>Login with Google</span>
      </a>
    </div>
    <!-- Local User Login Button -->
    {% if local_user == "true" %}
    <div class="flex items-center justify-center">
      <a
        href="{{ url_for('auth.local_login') }}"
        class="px-4 py-2 m-1 min-w-52 border flex gap-2 border-slate-700 rounded-lg text-slate-200 hover:border-slate-800 hover:text-slate-300 hover:shadow transition duration-75"
      >
        <svg
          fill="#ffffff"
          viewBox="0 0 30 30"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          stroke="bg-blue-600"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M8.5 0C7.678 0 7 .678 7 1.5v6c0 .665 1 .67 1 0v-6c0-.286.214-.5.5-.5h20c.286 0 .5.214.5.5v27c0 .286-.214.5-.5.5h-20c-.286 0-.5-.214-.5-.5v-7c0-.66-1-.654-1 0v7c0 .822.678 1.5 1.5 1.5h20c.822 0 1.5-.678 1.5-1.5v-27c0-.822-.678-1.5-1.5-1.5zm5 10c-.45 0-.644.563-.354.854l3.647 3.646-3.647 3.646c-.442.426.254 1.16.708.708l4-4c.195-.196.195-.512 0-.708l-4-4c-.095-.097-.22-.146-.354-.146zm-13 4h14c.277 0 .5.223.5.5s-.223.5-.5.5H.5c-.277 0-.5-.223-.5-.5s.223-.5.5-.5z"
            ></path>
          </g>
        </svg>
        <span>Login as Local User</span>
      </a>
    </div>
    {% endif %}
  </div>
</div>
