<!doctype html>
<html>
  {% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    <div class="container py-20 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="container">
        <h1 class="text-3xl font-bold">Recipes</h1>
        <br />
        {% include 'flash_messages.html' %}
        <div class="search-container form-group py-4">
          <input
            type="text"
            id="recipeSearchInput"
            placeholder="Search for recipes..."
            class="form-input w-full p-2 border border-slate-400 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        <br />
        <div class="flex flex-wrap -mx-4">
          {% for recipe in recepies %}
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 px-4 mb-8">
            <div
              class="card bg-gradient-to-tl from-slate-200 to-slate-400 rounded-lg shadow-xl overflow-hidden"
            >
              <div class="p-4">
                <div class="card-title text-xl font-bold mb-2 text-slate-800">
                  {{ recipe.title }}
                </div>
                <img
                  src="{{ recipe.image_url if recipe.image_url else url_for('static', filename='images/empty.webp') }}"
                  alt="Recipe image"
                  class="w-full h-48 object-cover rounded-lg"
                />
                <br />
                <button
                  onclick="toggleIngredients('{{ recipe.recipe_id }}')"
                  class="rounded-md bg-slate-800 hover:bg-slate-400 px-4 py-1 text-xxs font-medium hover:text-slate-800 text-slate-200"
                >
                  Show More
                </button>
              </div>
              <div class="px-4">
                <div
                  id="ingredients-{{ recipe.recipe_id }}"
                  style="display: none"
                >
                  <table class="w-full text-left border-collapse">
                    <thead>
                      <tr>
                        <th
                          class="border-b-2 border-slate-400 py-2 px-4 text-slate-800 text-xxs"
                        >
                          Amount
                        </th>
                        <th
                          class="border-b-2 border-slate-400 py-2 px-4 text-slate-800 text-xxs"
                        >
                          Unit
                        </th>
                        <th
                          class="border-b-2 border-slate-400 py-2 px-4 text-slate-800 text-xxs"
                        >
                          Ingredient
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for ingredient in recipe.ingredients %}
                      <tr>
                        <td
                          class="border-b-2 border-slate-400 py-2 px-4 text-slate-800 text-xxs"
                        >
                          {{ ingredient.amount }}
                        </td>
                        <td
                          class="border-b-2 border-slate-400 py-2 px-4 text-slate-800 text-xxs"
                        >
                          {{ ingredient.unit }}
                        </td>
                        <td
                          class="border-b-2 border-slate-400 py-2 px-4 text-slate-800 text-xxs"
                        >
                          {{ ingredient.ingredient_type }}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <br />
                  <div class="mt-4">
                    <p class="font-bold text-slate-800 text-xxs">
                      Description:
                    </p>
                    <p class="description text-slate-800 text-xxs">
                      {{ recipe.description }}
                    </p>
                  </div>
                  <div class="mt-4">
                    <p class="font-bold text-slate-800 text-xxs">Serves:</p>
                    <p class="text-slate-800 text-xxs">
                      {{ recipe.portion_serves }}
                    </p>
                  </div>
                  <div class="mt-4">
                    <p class="font-bold text-slate-800 text-xxs">Note:</p>
                    <p class="text-slate-800 text-xxs">{{ recipe.note }}</p>
                  </div>
                </div>
              </div>
              <div class="p-3 flex flex-wrap justify-left space-x-2">
                {% if recipe.web_link.startswith('http') %}
                <a
                  id="{{recipe.doc_id}}"
                  href="{{ recipe.web_link }}"
                  class="mx-1 rounded-md bg-gray-800 hover:bg-slate-400 px-3 py-2 text-xxs font-medium hover:text-slate-800 text-slate-200"
                  target="_blank"
                  >Menu Link</a
                >
                {% else %}
                <a
                  id="{{ recipe.doc_id }}"
                  href="javascript:void(0);"
                  class="mx-1 bg-gray-800 text-gray-400 py-2 px-4 rounded cursor-not-allowed text-xxs opacity-50"
                  target="_blank"
                  onclick="return false;"
                  >Menu Link</a
                >
                {% endif %}
                <form style="margin: 0">
                  <button
                    type="button"
                    class="btn-shoppinglist mx-1 rounded-md bg-gray-800 hover:bg-slate-400 px-3 py-2 text-xxs font-medium hover:text-slate-800 text-slate-200"
                    data-recipe-id="{{ recipe.recipe_id }}"
                  >
                    Get Shoppinglist
                  </button>
                </form>
                <form
                  method="GET"
                  action="/recipe/edit/{{ recipe.recipe_id }}"
                  style="margin: 0"
                >
                  <button
                    type="submit"
                    class="mx-1 rounded-md bg-gray-800 hover:bg-slate-400 px-3 py-2 text-xxs font-medium hover:text-slate-800 text-slate-200"
                  >
                    Edit
                  </button>
                </form>
                <form
                  method="POST"
                  action="/recipe/delete/{{ recipe.recipe_id }}"
                  style="margin: 0"
                >
                  <button
                    type="submit"
                    class="mx-1 rounded-md bg-gray-800 hover:bg-slate-400 px-3 py-2 text-xxs font-medium hover:text-slate-800 text-slate-200"
                  >
                    Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <br />
      </div>
      <script>
        function toggleIngredients(recipeId) {
          var x = document.getElementById('ingredients-' + recipeId);
          if (x.style.display === 'none') {
            x.style.display = 'block';
          } else {
            x.style.display = 'none';
          }
        }
      </script>
      <script>
        // Declare a global variable and assign the Jinja2 variable to it
        var userUUID = '{{ g.user.user_uuid }}';
      </script>
      <script
        type="module"
        src="{{ url_for('static', filename='js/recipe/list/eventHandlers.js') }}"
      ></script>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
