{% include 'head.html' %}
<body>
  {% include 'navbar.html' %}
  <div class="container pt-20 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold">Meal Plan</h1>
    {% include 'flash_messages.html' %}
    <div class="fixed bottom-4 right-4 z-50">
      <button
        class="bg-gradient-to-tl from-slate-400 from-10% to-slate-900 to-90% text-white p-4 rounded-full shadow-lg focus:outline-none"
        id="fabButton"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"
          ></path>
          <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
        </svg>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </button>
      <div
        id="fabMenu"
        class="bg-gradient-to-tl from-slate-900 from-10% to-slate-400 to-90% rounded-lg p-2 border-1 border-slate-400 mt-2 space-y-2 hidden absolute bottom-16 right-0 flex-col items-end"
      >
        <button
          class="bg-slate-800 hover:bg-slate-400 text-white py-2 px-4 text-xs rounded"
          id="getShoppingList"
        >
          Get Shopping List
        </button>
        <button
          class="bg-slate-800 hover:bg-slate-400 text-white py-2 px-4 text-sm rounded"
          id="screenshotButton"
        >
          Take Screenshot
        </button>
        <button
          class="bg-slate-600 hover:bg-slate-400 text-white py-2 px-4 text-sm rounded"
          id="clearAllButton"
        >
          Clear Mealplan
        </button>
        <button
          class="bg-slate-600 hover:bg-slate-400 text-white py-2 px-4 text-sm rounded"
          id="saveCurrentMealplanButton"
        >
          Save Mealplan
        </button>
        <button
          class="bg-slate-600 hover:bg-slate-400 text-white py-2 px-4 text-sm rounded"
          id="loadLastMealplanButton"
        >
          Load Mealplan
        </button>
      </div>
    </div>
    <div
      id="week"
      class="flex lg:flex-wrap flex-nowrap overflow-x-auto space-x-2 justify-between border-y-2 border-slate-400 px-2"
    >
      {% for day in meal_plan %}
      <div
        class="border border-gray-300 bg-gradient-to-tl from-slate-200 to-slate-400 my-2 p-2 rounded-md relative"
      >
        <h5 class="text-xs font-semibold">
          {{ day }}
          <h5 id="{{ day }}-date" class="text-xs font-medium"></h5>
        </h5>
        <button
          class="absolute top-0 right-0 bg-red-300 hover:bg-red-400 text-white text-xs text-center font-bold py-1 px-2 rounded"
          data-day="{{ day }}"
          id="move-to-remaining"
        >
          Clear
        </button>
        <hr class="my-2 border-gray-300" />
        <div class="meal mb-4">
          <h6 class="text-sm text-center font-medium py-1">Lunch</h6>
          <div
            id="{{ day }}-lunch-drop-zone"
            class="meal-item drop-target"
            style="background-image: url('{{meal_plan[day]['lunch']['image_url']}}'); background-size: cover; background-position: center;"
          >
            <div class="absolute inset-0 bg-black opacity-50"></div>
            {% if meal_plan[day]['lunch'] %}
            <div
              class="relative draggable"
              draggable="true"
              id="{{ day }}-lunch-text"
              data-day="{{ day }}"
              data-meal="lunch"
              recipe-id="{{meal_plan[day]['lunch']['recipe_id']}}"
            >
              {{ meal_plan[day]['lunch']['title'] }}
            </div>
            {% else %}
            <div
              class="relative draggable"
              draggable="true"
              id="{{ day }}-lunch-text"
              data-day="{{ day }}"
              data-meal="lunch"
              recipe-id="None"
            >
              Nix geplant!
            </div>
            {% endif %}
          </div>
        </div>
        <div class="meal py-1">
          <h6 class="text-sm text-center font-medium py-1">Dinner</h6>
          <div
            id="{{ day }}-dinner-drop-zone"
            class="meal-item drop-target"
            style="background-image: url('{{meal_plan[day]['dinner']['image_url']}}'); background-size: cover; background-position: center;"
          >
            <div class="absolute inset-0 bg-black opacity-50"></div>
            {% if meal_plan[day]['dinner'] %}
            <div
              class="relative draggable"
              draggable="true"
              id="{{ day }}-dinner-text"
              data-day="{{ day }}"
              data-meal="dinner"
              recipe-id="{{meal_plan[day]['dinner']['recipe_id']}}"
            >
              {{ meal_plan[day]['dinner']['title'] }}
            </div>
            {% else %}
            <div
              class="relative draggable"
              draggable="true"
              id="{{ day }}-dinner-text"
              data-day="{{ day }}"
              data-meal="dinner"
              recipe-id="None"
            >
              Nix geplant!
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="remaining-menus-title" class="drop-target text-2xl my-1 rounded">
      Remaining Menus
    </div>
    <!-- Search field for recipes -->
    <div class="search-container form-group py-1">
      <input
        type="text"
        id="searchRecipes"
        placeholder="Search for recipes..."
        class="w-full p-2 border border-slate-400 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
    <div
      id="remaining-menus"
      class="flex flex-nowrap overflow-x-auto gap-2 w-full py-4"
    >
      {% for recipe in remaining_recipes %}
      <div
        id="remaining-menus-drop-zone"
        class="meal-item drop-target min-w-[112px] h-[112px] relative"
        style="background-image: url('{{ recipe.image_url }}'); background-size: cover; background-position: center;"
      >
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <div
          class="relative draggable text-white p-2"
          draggable="true"
          id="recipe_id_{{recipe.recipe_id}}"
          recipe-id="{{recipe.recipe_id}}"
        >
          {{ recipe.title }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script>
    // Declare a global variable and assign the Jinja2 variable to it
    var userUUID = '{{ g.user.user_uuid }}';
  </script>
  <script>
    // JavaScript to filter recipes as you type
    document
      .getElementById('searchRecipes')
      .addEventListener('input', function (e) {
        var searchValue = e.target.value.toLowerCase();
        // Only select elements within the 'remaining-menus' div
        document
          .querySelectorAll('#remaining-menus .draggable')
          .forEach(function (menuItem) {
            var title = menuItem.textContent.toLowerCase();
            // Closest will search up the DOM tree from the current element and return the closest ancestor that matches the given selector
            menuItem.closest('.meal-item').style.display = title.includes(
              searchValue
            )
              ? 'block'
              : 'none';
          });
      });
  </script>
  <script>
    document.getElementById('fabButton').addEventListener('click', function () {
      document.getElementById('fabMenu').classList.toggle('hidden');
    });
  </script>
  <!-- Include JS modules -->
  <script
    type="module"
    src="{{ url_for('static', filename='js/mealplan/dateFunctions.js') }}"
  ></script>
  <script
    type="module"
    src="{{ url_for('static', filename='js/mealplan/domFunctions.js') }}"
  ></script>
  <script
    type="module"
    src="{{ url_for('static', filename='js/mealplan/eventHandlers.js') }}"
  ></script>
  <script
    type="module"
    src="{{ url_for('static', filename='js/mealplan/stateManager.js') }}"
  ></script>
  <script
    type="module"
    src="{{ url_for('static', filename='js/mealplan/uiFunctions.js') }}"
  ></script>
  <script
    type="module"
    src="{{ url_for('static', filename='js/mealplan/ddFunctions.js') }}"
  ></script>
  <script
    type="module"
    src="{{ url_for('static', filename='js/mealplan/miscFunctions.js') }}"
  ></script>
</body>
{% include 'footer.html' %}
