{% include 'head.html' %}
<body>
  {% include 'navbar.html' %}
  <div class="container py-20 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="container">
      <h1 class="text-3xl font-bold">Share Recipes</h1>
      {% include 'flash_messages.html' %}
      <br />
      <div class="p-4 bg-gray-200 rounded-lg shadow-md">
        <form id="shareForm">
          <div class="mb-4">
            <label for="userIdInput" class="block text-gray-700 font-bold mb-2"
              >User ID to share with:</label
            >
            <input
              type="text"
              class="form-input w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"
              id="userIdInput"
              name="userId"
              placeholder="Enter User ID"
              required
            />
          </div>
          <div class="flex space-x-2">
            <button
              type="button"
              class="btn bg-slate-800 text-white px-4 py-2 rounded-md hover:bg-slate-400 transition duration-150"
              id="shareAllRecipes"
            >
              Share All
            </button>
            <button
              type="button"
              class="btn bg-slate-800 text-white px-4 py-2 rounded-md hover:bg-slate-400 transition duration-150"
              id="selectShareRecipe"
            >
              Select
            </button>
            <button
              type="button"
              class="btn bg-slate-800 text-white px-4 py-2 rounded-md opacity-50 cursor-not-allowed"
              id="next-btn"
            >
              Next
            </button>
          </div>
        </form>
      </div>
      <br />
      <div class="flex flex-wrap justify-start">
        {% for recipe in recepies %}
        <div class="card p-1">
          <div class="max-w-md mx-auto p-4 bg-slate-400 rounded-lg shadow-md">
            <div class="card-body">
              <h4>{{recipe.title}}</h4>
              <p hidden>{{recipe.recipe_id}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
<script
  type="module"
  src="{{ url_for('static', filename='js/recipe/share/domFunctions.js') }}"
></script>
<script
  type="module"
  src="{{ url_for('static', filename='js/recipe/share/eventHandlers.js') }}"
></script>
{% include 'footer.html' %}
