{% include 'head.html' %} {% include 'navbar.html' %}
<body>
  <div class="container py-20 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div itemtype="http://schema.org/Recipe">
      <h1 itemprop="name" class="text-3xl font-bold">Shopping List</h1>
      <br />
      <div></div>
      <div data-bring-import class="mx-auto">
        <a href="https://www.getbring.com"
          >Bring! Einkaufsliste App f&uuml;r iPhone und Android</a
        >
      </div>
      <br />
      <table class="border-collapse w-full">
        <thead>
          <tr>
            <th class="border-r border-gray-300 p-2">Amount</th>
            <th class="border-r border-gray-300 p-2">Unit</th>
            <th class="p-2">Description</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in final_ingredients %}
          <tr class="even:bg-gray-100">
            <td class="border-r border-gray-300 p-2">
              {{ ingredient.amount|round(2) }}
            </td>
            <td class="border-r border-gray-300 p-2">{{ ingredient.unit }}</td>
            <td class="p-2">{{ ingredient.ingredient_type }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul hidden>
        {% for ingredient in final_ingredients %}
        <li itemprop="recipeIngredient">
          {{ ingredient['ingredient_type']}}, {{ ingredient['amount']}}
          {{ingredient['unit']}}
        </li>
        {% endfor %}
      </ul>
    </div>
    <script
      async="async"
      src="//platform.getbring.com/widgets/import.js"
    ></script>
  </div>
</body>
{% include 'footer.html' %}
