<head>
  <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
  />
  <link
    rel="manifest"
    href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>DishCrafter</title>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
